page-list {
    ion-title{
        text-align: center;
    }
    .sousu{
        box-shadow: none;
    }
    .list-md{
        margin-bottom: 0px;
    }
    .content-md{
        background-color: #DBDBDB;
    }
    .itemone{
        border-radius: 10px;
        width: 98%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 4px;
    }
}
