page-list {
    ion-title{
        text-align: center;
    }
    .xiala{
        width: 100%;
        display: inline-block;
        margin-bottom: 2px;
        .select-md{
            width:25%;
            padding: 0;
            .select-text{
                width: 80%;
            }
            .select-icon{
                width:20%;
            }
        }
    }
}
