page-contact {
    ion-title{
        text-align: center;
    }
    #container{
        width: 100%;
        height: 250px;
    }
    #kuang{
        text-align: center;
        h4{
            color: gray;
        }
        span{
            font-size: 12px;
            border:1px #18DE73 solid;
            padding: 5px 10px;
        }
    }
    
}
