page-pjone {
    ion-title{
        text-align: center;
    }
    .one{
        height: 60px;
        line-height: 60px;
        img{
            margin-left: 10px;
            width: 60px;
            height: 60px;
            border-radius: 30px;
        }
    }
    textarea{
        width: 92%;
        height: 200px;
        display: block;
        margin-top: 5px;
        margin-right:auto;
        margin-left: auto;
    }
    .fabu{
        text-align: center;
        width: 70%;
        height: 40px;
        border-radius: 40px;
        border: none;
        background: #18DE73;
        margin-top: 20px;
        display: block;
        margin-right:auto;
        margin-left: auto;
    }
}
